@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Space Grotesk", sans-serif;
  color: #0f172a;
  background: #f6f8f8;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
